*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: #61126b;
    font-size: 45px;
    text-align: center;
    margin-bottom: 60px;
}
/*header*/
header{
    width: 100%;
    height: 600px;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(264, 83%, 16%, 0.459), hsla(13, 60%, 50%, 0.384)),url(img/juntosport1.jpeg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(264, 83%, 16%, 0.459), hsla(13, 60%, 50%, 0.384)),url(img/juntosport1.jpeg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100% ;
}
.contenido-textos h3{
    color: #b60202;
}
.contenido-textos h6{
    color: #670574;
}
header .texto-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.texto-header h1{
    font-size: 70px;
    color: #3e0646;

}
.contenido-textos img{
    float:right;
    margin-right: 160px;
    
}
main .sobre-ella{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-ella{
    display: flex;
    justify-content: space-evenly;
}
.imagen-about-us{
    width: 48%;
}
.sobre-ella .contenido-textos{
    width: 48%;
}
.contenido-textos h3{
    margin-bottom: 15px;
}
.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
/*galeria*/
.contenedorNosotros{
    background: #f2f2f2;
}
.galeria-nosotros{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Imagen-nosotros{
    width: 24%;
    margin-bottom: 10px;
    height: 250px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}
.Imagen-nosotros > img{
    width: 100% ;
    height: 125%;
    object-fit: cover;
    display: block;
}
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(0, 67%, 19%, 0.575);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 200px;
}
.hover-galeria p {
    color: #fff;
}
.Imagen-nosotros:hover .hover-galeria{
    transform: scale(1);
}
/*cile*/
.cards{
    display: flex;
    justify-content: space-evenly;
}
.cards .card{
    background: #c31432;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}
.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display:block;   
}
.cards .card > .contenido-texto1-card{
    width: 60%;
    color: #fff;
}
.cards .card >.contenido-texto1-card p{
    font-weight: 300;
    padding-top: 5px;

}
/*footer*/
footer{
    background: #240b36;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
}
.contenido-foo{
    text-align: center;
}
.contenido-foo h4 {
    color: rgb(255, 0, 43);
    border-bottom: 3px solid #97110d;
    font-size: 30px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.contenido-foo p {
    color: #fff;
}
@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    .titulo1 h2{
        margin-top: 50px;
    }
    .contenido-textos img{
        float:right;
        margin-right: 290px;
    }
    .Imagen-nosotros .img2{
        height: 250px;
    }
    .Imagen-nosotros .img8{
        width: 100% ;
        height: 200%;
    }
   .contenedor-sobre-ella .imagen-about-us{
        margin-top: 20px;
        width: 360px;
        height: 650px;
   }
   .contenido-textos h6{
    margin-left: -175px;
    margin-right: 170px;
    text-align: center;
   }
    .imagen-about-us{
        width: 30%; /*tamaño de la imagen principial*/
    }
    .Imagen-nosotros{
        width: 44%;
    }
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards .card{
        width: 90%;
    }
    .cards .card:first-child{
        margin-bottom: 30px;
    }
    .contenido-foo p{
        margin: 17px;
    }
}
@media screen and (max-width:500px){
    .texto-header h1{
        font-size: 40px;
    }
    .contenedor-sobre-ella {
        flex-direction: column;
        justify-content: center;
        align-items: center;
   }
   .contenido-textos img{
    float:right;
    margin-right: 130px;
    }
   .contenido-textos h6{
    margin-left: 10px;
    margin-right: 1px;
    text-align: center;
   }
    .texto-header h2{
        font-size: 15px;
    }
    /*about us*/
    .imagen-about-us{
        margin-bottom: 40px;
    }
    .sobre-ella .contenido-textos{
        width: 95%;
    }
    /*galeria*/
    .Imagen-nosotros{
        width: 95%;
    }
    .cards .card{
        width: 700px;
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
    .cards .card img{
        width: 90px;
        height: 90px;
    }
    .contenido-foo p {
        margin: 20px;
    }
}
